name: ci
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: langston-barrett/gha/.github/workflows/rust-ci.yml@2836296ce750cde5dcba9866b62f82c019de540d
    with:
      bench: false
      os: ubuntu-latest

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5 # zizmor: ignore[unpinned-uses] TODO
        with:
          persist-credentials: false
      - run: pip install mypy==1.18.2
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v2.1.4
        with:
          args: "--version"
      - name: Create download script
        run: |
          mkdir -p bin
          cat > bin/download <<'EOF'
          curl \
            --fail \
            --location \
            --proto '=https' \
            --show-error \
            --silent \
            --tlsv1.2 \
            "${@}"
          EOF
          chmod +x bin/*
          printf "%s/bin" "${PWD}" >> "${GITHUB_PATH}"
      - name: Install mdlynx
        run: |
          download \
            https://github.com/langston-barrett/mdlynx/releases/download/v0.1.0/mdlynx > \
            bin/mdlynx
          chmod +x bin/*
      - name: Install typos
        run: |
          download \
            https://github.com/crate-ci/typos/releases/download/v1.39.2/typos-v1.39.2-x86_64-unknown-linux-musl.tar.gz | \
            tar xzf - ./typos
          mv typos bin
          chmod +x bin/*
      - name: Install zizmor
        run: |
          download \
            https://github.com/woodruffw/zizmor/releases/download/v1.16.3/zizmor-x86_64-unknown-linux-gnu.tar.gz | \
            tar xzf - ./zizmor
          mv zizmor bin
          chmod +x bin/*
      - name: Lint
        run: ./scripts/lint/lint.py
      # ref: xref-ci
      - name: Check cross-references
        run: ./x xref .github crates doc scripts

