name: ci
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: langston-barrett/gha/.github/workflows/rust-ci.yml@6b3eccde4f930fac1a8a29fb197f581fc3009ecf
    with:
      bench: false
      os: ubuntu-latest

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5 # zizmor: ignore[unpinned-uses] TODO
        with:
          persist-credentials: false
      - run: pip install mypy==1.18.2
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v2.1.4
        with:
          args: "--version"
      - uses: langston-barrett/gha/.github/actions/install-mdlynx@ac0929c97ea93fafb3cb091bf2e00046399c74f2
      - uses: langston-barrett/gha/.github/actions/install-typos@ac0929c97ea93fafb3cb091bf2e00046399c74f2
      - uses: langston-barrett/gha/.github/actions/install-zizmor@ac0929c97ea93fafb3cb091bf2e00046399c74f2

      - name: Lint
        run: ./scripts/lint/lint.py
      # ref: xref-ci
      - name: Check cross-references
        run: ./x xref .github crates doc scripts

